@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

@font-face {
	font-family: myFont;
	src: url(fonts/rickfont.ttf);
}

body {
	background-color: #00a6bf;
	margin: 0px;
}

.wrapper {
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;
	background-color: #000;
	text-align: center;
	padding-left: 125px;
	padding-right: 125px;
}

.logo a {
	text-decoration: none;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}

.nav-links {
	display: flex;
	gap: 20px;
	list-style: none;
	padding-right: 200px;
}

.nav-links li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

.nav-links li a:hover {
	color: #00a6bf;
}

.social-icon img {
	height: 30px;
	width: 30px;
	padding: 0px 5px 0px 5px;
}

.nav-links li a:hover {
	color: #00a6bf;
}

.hamburger img {
	width: 30px;
	height: auto;
	cursor: pointer;
}

.close-menu {
	float: left;
	margin-top: -55px;
	padding-left: 80px;
}

.start {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: myFont;
	font-size: 150px;
	color: #00a6bf;
}

.rick-title-menu h1 {
	margin: 0 0 0 100px;
	padding-top: 250px;
}

.rick-image-menu {
	max-width: 100%;
	height: auto;
	margin-top: 0;
}

.information-menu {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: #000;
	max-width: 100%;
	text-align: left;
}

h2 {
	color: #00a6bf;
	font-size: 40px;
	font-weight: 750;
	font-family: "Orbitron", sans-serif;
}

h3 {
	color: #00bcd4;
	font-size: 30px;
	font-weight: 750;
	font-family: "Orbitron", sans-serif;
}

p {
	font-size: 20px;
	text-align: left;
	color: #e0e0e0;
	font-family: "Roboto", sans-serif;
}

.information-menu h2 {
	margin: 50px 0 25px 100px;
	float: left;
}

.information-menu p {
	margin: 0 50% 50px 100px;
	float: left;
}

.information-menu img {
	height: 375px;
	width: auto;
	margin-top: -405px;
	margin-left: auto;
	margin-right: 100px;
}

.photos img {
	height: 410px;
	width: auto;
	padding: 20px;
}

.skills h2 {
	padding: 20px 0 0 100px;
	margin-right: 20px;
	align-items: self-start;
	display: flex;
	flex-direction: column;
}

.skills h3 {
	padding: 0 0 0 100px;
	margin-top: 25px;
	align-items: self-start;
	display: flex;
	flex-direction: column;
}

.skills p {
	color: #e0e0e0;
	padding: 0 0 51px 100px;
	margin-top: -15px;
	margin-right: 50%;
	align-items: self-start;
	flex-direction: column;
}

.skills img {
	width: 400px;
	height: auto;
	float: right;
	margin-top: -50px;
	padding: 0 150px 0 0;
}

.experiences {
	background-color: #000;
	padding-top: 75px;
	padding-bottom: 40px;
}

.experiences h2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 0 0 760px;
}

.experiences h3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 0 0 160px;
	margin-top: 25px;
}

.experiences p {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 100px 50px 0;
	margin-top: -10px;
	margin-left: 50%;
}

.experiences img {
	width: 600px;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: self-start;
	float: left;
	padding: 0 0 0 0;
}

.video {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 25% 50px 25%;
	width: 750px;
	height: 422px;
}

.footer {
	background-color: #000;
	padding: 100px 100px 100px 100px;
}

.footer p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}
