@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

@font-face {
	font-family: myFont;
	src: url(fonts/rickfont.ttf);
}

body {
	background-color: #00a6bf;
	margin: 0px;
	width: 100vw;
	height: 100vh;
}

img {
	width: 100%;
}

.wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
}

header {
	position: sticky;
	top: 0;
}

.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;
	background-color: #000;
	text-align: center;
	padding-left: 125px;
	padding-right: 125px;
}

.logo a {
	text-decoration: none;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}

.nav-links {
	display: flex;
	gap: 20px;
	list-style: none;
}

.nav-links li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

.nav-links li a:hover {
	color: #00a6bf;
}

.social-icon img {
	height: 30px;
	width: 30px;
	padding: 0px 5px 0px 5px;
}

.nav-links li a:hover {
	color: #00a6bf;
}

.hamburger img {
	width: 30px;
	height: auto;
	cursor: pointer;
}

.close-menu {
	float: left;
	margin-top: -55px;
	padding-left: 80px;
}

.start {
	padding-top: 75px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: myFont;
	font-size: 150px;
	color: #00a6bf;
}

.rick-title-menu h1 {
	margin: 0 0 0 100px;
}

.rick-image-menu {
	max-width: 100%;
	height: auto;
	margin-top: 0;
}

.information-menu {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: #000;
	max-width: 100%;
	text-align: left;
}

h2 {
	color: #00a6bf;
	font-size: 40px;
	font-weight: 750;
	font-family: "Orbitron", sans-serif;
}

h3 {
	color: #00bcd4;
	font-size: 30px;
	font-weight: 750;
	font-family: "Orbitron", sans-serif;
}

p {
	font-size: 20px;
	text-align: left;
	color: #e0e0e0;
	font-family: "Roboto", sans-serif;
}

.information-menu h2 {
	margin: 50px 0 25px 100px;
	float: left;
}

.information-menu p {
	margin: 0 50% 50px 100px;
	float: left;
}

.information-menu img {
	height: 375px;
	width: auto;
	margin-top: -405px;
	margin-left: auto;
	margin-right: 100px;
}

.photos img {
	box-sizing: border-box;
	width: 45%;
	padding: 20px;
}

.skills {
	padding: 0px 200px 25px 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	* {
		text-align: start;
	}
	h2 {
		grid-column: 1/5;
	}
	img {
		grid-column: 4/5;
	}
	.engineering {
		grid-row: 2/3;
		grid-column: 1/4;
	}
	.innovation {
		grid-column: 1/4;
	}

	p {
		width: 50vw;
	}
}

.experiences {
	background-color: #000;
	padding: 0px 50px 25px 0px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	* {
		text-align: start;
	}
	h2 {
		text-align: start;
		grid-column: 3/4;
	}
	img {
		grid-column: 1/3;
	}
	.lead {
		grid-column: 3/5;
	}
	.freelance {
		grid-column: 3/5;
	}
}

.video {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 25% 50px 25%;
	width: 750px;
	height: 422px;
}

.footer {
	background-color: #000;
	padding: 100px 100px 100px 100px;
}

.footer p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

@media (max-width: 768px) {
	body {
		padding: 0;
		margin: 0;
	}

	.navbar {
		flex-direction: column;
		padding: 10px;
	}

	.nav-links {
		flex-direction: column;
		padding: 0;
		gap: 10px;
	}

	.nav-links li a {
		font-size: 16px;
		text-align: center;
	}

	.social-icon,
	.nav-links {
		display: none;
	}

	.hamburger img {
		width: 25px;
		height: auto;
	}

	.start {
		flex-direction: column;
		text-align: center;
	}

	.rick-title-menu h1 {
		font-size: 100px;
		margin: 20px 0;
	}

	.rick-image-menu img {
		width: 90%;
		margin: 0 auto;
	}

	.information-menu {
		flex-direction: column;
		text-align: center;
	}

	.information-menu h2 {
		margin: 20px auto;
	}

	.information-menu p {
		margin: 0 auto 20px auto;
		width: 90%;
	}

	.information-menu img {
		height: auto;
		width: 60%;
		margin: 20px auto;
	}

	.video {
		width: 100%;
		height: 432px;
		padding: 10px;
	}

	.footer {
		padding: 20px;
	}

	.close-menu {
		position: fixed;
		float: left;
		margin-top: -55px;
		padding-left: 320px;
	}

	.photos img {
		width: 45%;
	}

	body {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.navbar {
		flex-direction: column;
		padding: 10px;
		align-items: center;
	}

	.nav-links {
		flex-direction: column;
		padding: 0;
		gap: 10px;
		text-align: center;
		margin-top: 20px;
	}

	.nav-links li a {
		font-size: 16px;
		text-align: center;
	}

	.social-icon,
	.nav-links {
		display: none;
	}

	.hamburger img {
		width: 25px;
		height: auto;
	}

	.start {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.rick-title-menu h1 {
		font-size: 100px;
		margin: 20px 0;
		text-align: center;
	}

	.rick-image-menu img {
		width: 90%;
		margin: 0 auto;
	}

	.information-menu {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.information-menu h2 {
		margin: 20px auto;
	}

	.information-menu p {
		margin: 0 auto 20px auto;
		width: 90%;
		text-align: center;
	}

	.information-menu img {
		height: auto;
		width: 60%;
		margin: 20px auto;
	}

	.video {
		width: 100%;
		height: 432px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer {
		padding: 20px;
		text-align: center;
	}

	.close-menu {
		position: fixed;
		float: left;
		margin-top: -55px;
		padding-left: 320px;
	}

	.photos img {
		width: 40%;
	}

	.skills,
	.experiences {
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.skills h2,
	.experiences h2 {
		font-size: 24px;
		margin: 10px 0;
	}

	.skills h2 {
		margin-left: 15%;
	}

	.skills h3,
	.experiences h3 {
		font-size: 20px;
		margin: 10px 0;
	}

	.skills h3 {
		margin-left: 20%;
	}

	.skills p,
	.experiences p {
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}

	.skills p {
		margin-left: 15%;
	}

	.experiences p {
		padding-right: 25%;
		padding-left: 25%;
	}

	.skills img,
	.experiences img {
		width: 50%;
		margin: 20px auto;
	}

	.skills img {
		margin-left: 30%;
	}

	.experiences {
		* {
			text-align: center;
		}
	}

	.skills {
		* {
			text-align: center;
		}
	}
}
